@font-face {
  font-family: "gilroy-light";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "gilroy-regular";
  src: url("../fonts/Gilroy-Regular.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "gilroy-bold";
  src: url("../fonts/Gilroy-Bold.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "gilroy-black";
  src: url("../fonts/Gilroy-Heavy.otf") format("opentype");
  font-style: normal;
}
